/*Cuerpo de la pagina*/
body{
  font-family: "Dancing Script";
  margin: 50px;
  background-color: #02010a;
}

/*Animacion de la pagina*/
@-webkit-keyframes slidein{
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: 5%;
  }
  100%{
    margin-top: 0%;
  }
}

/*Encabezado*/
.encabezado{
  background-color: #5b7989;
  color: white;
  font-size: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  animation: slidein 2s;
}

.contenedorTitulo{
  margin-left: 20px;
  text-align: left;
  text-shadow: 2px 2px  #02010a;
  width: 50%;
}

.contenedorTitulo h1{
  margin: 20px;
}

.contenedorMenu{
  text-align: right;
  width: 50%;
}

.contenedorMenu nav{
  font-size: 30px;
  margin: 30px 20px 20px 20px;
}
 .menu ul li{
   margin: 20px;
   display: inline;
 }

a {
  color: white;
}

/*Pagina Paisajes*/
.contenido{
  background-color: #d5c75f;
}

.contenedor1,.contenedor2{
  display: flex;
  flex-direction: row;
}

[class^="cuadrado"]{
  margin: 0 auto;
  width: 30%;
  padding: 1vw;
  text-align: center;
}

[class^="cuadrado"] img{
  box-shadow: 2px 2px 2px #02010a;
  width: 90%;
}

/*Efectos a las imagenes*/
.cuadrado1{
  -webkid-filter:blur(10px);
  filter:blur(10px);
}

.cuadrado3{
  -webkid-filter:sepia(90%);
  filter:sepia(90%);
}

.cuadrado2,.cuadrado4,.cuadrado6{
  -webkid-filter:grayscale(100%);
  filter:grayscale(100%);
}
/* desde aqui empieza el footer*/
.pie{
  height: 315px;
  text-align: left;
  background-color: #C6d5c5;
  color: black;
  padding-left: 100px;
  display: flex;
  flex-direction: row;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pie a{
  color: black;
}

.contenedorContactos{
  width: 25%;
}

.contenedorTerminos{
  text-align: left;
  width: 25%;
}

.contenedorSociales{
  width: 25%;
}

.contenedorSociales img{
  height: 30px;
}

.contenedorDerechos img{
  height: 10px;
}

.contenedorDerechos{
  width: 25%;
}

/* Web Adaptativo */
@media screen and (max-width: 900px){
/*Adaptando el encabezado*/
  .encabezado{
    display: flex;
    flex-direction: column;
  }

  .contenedorTitulo{
    width: 100%;
    text-align: center;
  }

  .contenedorMenu{
    width: 100%;
    text-align: center;
  }

/*Adaptando la pagina paisajes*/
.contenido{
  width: 100%;
}

.contenedor1,.contenedor2{
  display: flex;
  flex-direction: column;
}

[class^="cuadrado"]{
  width: 100%;
}

[class^="cuadrado"] img{
  width: 60%;
}

/*Adaptando el pie*/
  .pie{
    height: 800px;
    display: flex;
    flex-direction: column;
  }

  .contenedorContactos{
    width: 100%;
  }

  .contenedorTerminos{
    width: 100%;
  }

  .contenedorSociales{
    width: 100%;
  }

  .contenedorDerechos{
    width: 100%;
  }
}
